@tailwind base;
@tailwind components;
@tailwind utilities;

/* GT America Font Faces - Uncomment when font files are added to /public/fonts/ */
/*
@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Regular.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Medium.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'GT America';
  src: url('/fonts/GT-America-Standard-Bold.woff2') format('woff2'),
       url('/fonts/GT-America-Standard-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'GT America', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Helvetica Neue', Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  height: 100vh;
}
